<!-- <div class="container-fluid"> -->
<div class="entry-container">

    <div class="image-carousel">

        <img class="left-arrow" ng-click="toPreviousImage()" alt="previous" src="/static/img/arrow-left.png">
        <img class="right-arrow" ng-click="toNextImage()" alt="next" src="/static/img/arrow-right.png">

        <div class="image-holder">
            <img ng-click="toNextImage()" ng-src="get/image/{{getCurrentImageId()}}"></img>
        </div>
    </div>

    <div ng-repeat="element in currentEntry.elements | filter: {'type':'!image'}">
        <p class="normal-text" ng-class="getTextCssClass(element)">{{element.data}}</p>
    </div>

</div>

