<div> <!-- need? -->

    <div ng-repeat="entryId in currentPage.orderedEntryIds track by $index">
        <div >

            <div ng-if="!currentPage.isShowFull">

                <div class="hover-wrapper" >
                <a href="#/{{currentPage._id}}/{{entryId}}"
                    class="hover-image"
                    ng-class="getAlignment($index)">
                    <img ng-src="{{getFirstImageId(currentPage._id, entryId)}}"></img>
                    <span class="hover-title">{{currentPage.entries[entryId].name}}</span >
                </a>
                </div>
            </div>

            <div ng-if="currentPage.isShowFull">
                <!-- Just like the entry.html partial. Code here to avoid routing. -->
                <div ng-repeat="element in currentPage.entries[entryId].elements">
                    <p class="normal-text" ng-if="element.type!=='image'">{{element.data}}</p>
                    <img ng-if="element.type==='image'"
                        ng-src="get/image/{{element.data}}"></img>
                </div>
            </div>

        </div>
    </div>

</div>

