.pyc
**/*.pyc
**/*.swp
**/*.tar
**/*.gz
**/*.zip

.local-https-key
.local-https-cert

ship/
target/

scripts/dede.conf
scripts/package.json
scripts/node_modules/

AtlasGrotesk-Medium-Web.eot
AtlasGrotesk-Medium-Web.svg
AtlasGrotesk-Medium-Web.ttf
AtlasGrotesk-Medium-Web.woff

