<!doctype html>
<html lang="en" ng-app="dedeEditApp">

<head>
    <meta charset="utf-8">
    <title>Dede Edit</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/resources/css/bootstrap-3.2.0-dist/bootstrap.css">
</head>

<body>

    <div class="jumbotron">
        <h1>Dede edit</h1>
        <p>Here you modify the content of your page.</p>
    </div> 

    <!-- Replace with bootstrap navbar. -->
    <a href="#/projects">projects</a>
    <a href="#/news">news</a>
    <a href="#/about">about</a>
    <a href="#/contact">contact</a>

    <div ng-view></div>

    <!-- JS -->
    <script src="/resources/js/lib/angular-1.2.21/angular.js"></script>
    <script src="/resources/js/lib/angular-1.2.21/angular-route.js"></script>
    <script src="/resources/js/lib/angular-1.2.21/angular-resource.js"></script>

    <script src="/resources/js/lib/ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

    <script src="/resources/js/edit-app/editServices.js"></script>
    <script src="/resources/js/edit-app/editControllers.js"></script>
    <script src="/resources/js/edit-app/editFilters.js"></script>
    <script src="/resources/js/edit-app/editApp.js"></script>

</body>

</html>

