<div class="container-fluid">

    <!-- Use this and wrap every button in a btn-group to spread them equally across whole parent width. -->
    <!-- <div class="btn-group btn-group-justified"> -->
    <div class="btn-group" ng-controller="TagsCtrl">
        <button type="button" class="btn btn-default" ng-repeat="tag in tags">{{tag.display_text}}</button>
    </div>

    <div id="news" ng-repeat="news_story in news | filter: {is_hidden: false}">
        <img src="/resources/img/dwarf.png" style="height: 150px" />
        <!-- <img class="img-responsive" src="api_call/{{news_story.cover_image_id}}" style="height: 150px" /> -->
        <h2>{{news_story.title}}</h1>
        <h3>{{news_story.date}}</h3>
        <p>{{news_story.story}}</p>
    </div>

</div>

