<!--<p>zezanje</p>-->
<!--<div ng-controller="PageDropdownCtrl">-->
    <!--<p ng-repeat="pageName in pageNames">{{pageName}}</p>-->
<!--</div>-->
            
<!--<div ng-controller="PageDropdownCtrl">-->
    <!--<div class="btn-group" dropdown is-open="status.isopen">-->
        <!--<button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">-->
            <!--Button dropdown-->
            <!--<span class="caret"></span>-->
        <!--</button>-->
        <!--<ul class="dropdown-menu">-->
            <!--<li ng-repeat="pageName in pageNames">-->
                <!--<a href>{{pageName}}</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

