<!doctype html>
<html lang="en" ng-app="dedeEditApp">

<head>
    <meta charset="utf-8">
    <title>Dede Edit</title>

    <link rel="stylesheet" href="/static/css/bootstrap-3.2.0-dist/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/angular-multiselect/angular-multiselect.css">
    <link rel="stylesheet" href="/static/css/ui-select/select.min.css">
    <link rel="stylesheet" href="/static/css/select2/select2.css">
    <link rel="stylesheet" href="/static/css/image-drop-area.css">
</head>

<!-- TODO: When everything is functional, cut this up into smaller html files. -->
<!-- TODO: Add ng-cloak to avoid a flash of {{}} on load. -->
<body>

    <!-- I want to also be able to edit tags in a third "tab". -->
    <!-- And maybe even images in a fourth. -->
    <!-- So, PageOrEntryCtrl should be more general. -->

    <h1>Dede edit</h1>
    <tabset>
        <tab heading="Main">

            <div class="container" ng-controller="PageOrEntryCtrl">

                <div class="row">
                    <div class="col-md-2">
                        <p>Editing:</p>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group">
                            <label class="btn btn-primary"
                                ng-model="pageOrEntry"
                                btn-radio="'page'">page</label>
                            <label class="btn btn-primary"
                                ng-model="pageOrEntry"
                                btn-radio="'entry'">entry</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <p ng-show="pageOrEntry=='entry'">on</p>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group" dropdown is-open="status.isopen"
                            ng-controller="PageNamesDropdownCtrl">
                            <button type="button" class="btn btn-primary dropdown-toggle">
                                {{selectedPageName}}<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="pageName in pageNames">
                                    <a ng-click="setPageName(pageName)" href="#">{{pageName}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <br/>
                        <hr/>
                        <br/>
                    </div>
                </div>

                <!-- Editing a page. -->
                <div ng-show="pageOrEntry=='page'"
                    ng-controller="PageCtrl">

                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-sm btn-success"
                                ng-click="store()">Store</button>
                            <button type="button" class="btn btn-sm btn-danger"
                                ng-click="delete()">Delete</button>
                            <button type="button" class="btn btn-sm btn-default"
                                ng-click="clear()">Clear</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>ID:</p>
                        </div>
                        <div class="col-md-2">
                            <input ng-model="page._id"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Page name:</p>
                        </div>
                        <div class="col-md-2">
                            <input ng-model="page.name"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Is shown:</p>
                        </div>
                        <div class="col-md-2">
                            <span ng-model="page.isShown">{{page.isShown}}</span>
                            <button type="button" class="btn btn-warning btn-sm"
                                ng-click="page.isShown = !page.isShown">Flip</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Show full entries (otherwise only title and 1st pic):</p>
                        </div>
                        <div class="col-md-2">
                            <span ng-model="page.isShowFull">{{page.isShowFull}}</span>
                            <button type="button" class="btn btn-warning btn-sm"
                                ng-click="page.isShowFull = !page.isShowFull">Flip</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Creation date:</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{page.creationDate}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Modification date:</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{page.modificationDate}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Entry IDs:</p>
                        </div>
                        <div class="col-md-2">
                            <input ng-model="page.entryIds"></input>
                        </div>
                    </div>
                </div>

                <!-- Editing an entry within a page. -->
                <div ng-show="pageOrEntry=='entry'"
                    ng-controller="EntryCtrl">

                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-sm btn-success"
                                ng-click="store()">Store</button>
                            <button type="button" class="btn btn-sm btn-danger"
                                ng-click="delete()">Delete</button>
                            <button type="button" class="btn btn-sm btn-default"
                                ng-click="clear()">Clear</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <p>Entry:</p>
                        </div>
                        <div class="col-md-2">
                            <div class="btn-group" dropdown is-open="status.isopen"
                                ng-controller="EntryNamesDropdownCtrl">
                                <button type="button" class="btn btn-primary dropdown-toggle">
                                    {{selectedEntryName}}<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="entryName in entryNames">
                                        <a ng-click="setEntryName(entryName)" href="#">{{entryName}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>ID:</p>
                        </div>
                        <div class="col-md-2">
                            <input ng-model="entry._id"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Entry name:</p>
                        </div>
                        <div class="col-md-2">
                            <input ng-model="entry.name"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Tags:</p>
                        </div>
                        <div class="col-md-4">
                            <ui-select multiple ng-model="entry.tags"
                                theme="select2" ng-disabled="disabled" style="width: 300px;">
                                <ui-select-match placeholder="Select tags...">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="tag in availableTags | filter:$select.search">
                                    {{tag}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Is shown:</p>
                        </div>
                        <div class="col-md-2">
                            <span ng-model="entry.isShown">{{entry.isShown}}</span>
                            <button type="button" class="btn btn-warning btn-sm"
                                ng-click="entry.isShown = !entry.isShown">Flip</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Is archived:</p>
                        </div>
                        <div class="col-md-2">
                            <span ng-model="entry.isArchived">{{entry.isArchived}}</span>
                            <button type="button" class="btn btn-warning btn-sm"
                                ng-click="entry.isArchived = !entry.isArchived">Flip</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Creation date:</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{entry.creationDate}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <p>Modification date:</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{entry.modificationDate}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Elements:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-1">
                            <!-- Extract to directive or something. -->
                            <button type="button" class="btn btn-default btn-xs"
                                ng-click="addElementAfter(-1)">+</button> <!-- hack -->
                        </div>
                    </div>
                    <div ng-repeat="element in entry.elements track by $index">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default btn-xs"
                                    ng-click="removeElementAt($index)">-</button>
                            </div>
                            <div class="col-md-1">
                                <!-- TODO think of switching this to angular-ui dropdown too. -->
                                <multiselect class="input"
                                    ng-model="element.type"
                                    options="elementType for elementType in allElementTypes"
                                    change="selected()"
                                    template-url="/static/partials/singleselect.tmpl.html"> 
                            </div>
                            <div class="col-md-2">
                                <span>Label:</span>
                                <input ng-model="element.label"></input>
                            </div>
                            <div class="col-md-4">
                                <span>Data:</span>
                                <textarea style="resize:none" cols="40"
                                    ng-show="element.type!='image'"
                                    msd-elastic
                                    ng-model="element.data"></textarea>

                                <div class="btn-group" dropdown is-open="status.isopen"
                                    ng-show="element.type=='image'"
                                    ng-controller="ImageCtrl">
                                    <span>Selected image:</span>
                                    <p>{{element.data}}</p>
                                    <button type="button" class="btn btn-primary dropdown-toggle">
                                        {{selectedImageMetadata}}<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="imageMetadata in allImagesMetadata">
                                            <!-- Hacky assignment to element.data.
                                            Well, definitely not the only one. -->
                                            <a ng-click="setSelectedImageMetadata(imageMetadata); element.data=imageMetadata._id" href="#">{{imageMetadata._id}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-1" ng-show="element.type=='title'">
                                <span>Level:</span>
                                <input ng-model="element.level"></input>
                            </div>
                            <div class="col-sm-1" ng-show="element.type=='image'">
                                <span>Caption:</span>
                                <input ng-model="element.caption"></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default btn-xs"
                                    ng-click="addElementAfter($index)">+</button> <!-- Extract to directive or something. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </tab>

        <tab heading="Images">
            <h3>Upload</h3>
            <div ng-controller="ImageUploadCtrl">
                <!-- <input type="text" ng-model="myModelObj"> -->
                <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">

                <div 
                    ng-show="dropSupported"
                    class="image-drop-area"
                    ng-file-drag-over-class="image-drop-area-dropped"
                    ng-file-drop="onFileSelect($files)"
                    ng-file-drop-available="dropSupported=true"
                    ng-file-drag-over-delay="100">
                    Image drop area
                </div>
                <div ng-file-drop-available="dropSupported=true" 
                    ng-show="!dropSupported">Image drop not supported.</div>
                <button ng-click="upload.abort()">Cancel Upload</button>
            </div>
            <hr/>

            <h3>Review</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">Thumbnail</div>
                    <div class="col-md-2">ID</div>
                    <div class="col-md-1">Width</div>
                    <div class="col-md-1">Height</div>
                    <div class="col-md-1">Size (KB)</div>
                </div>
                <div ng-controller="ImageCtrl">
                    <div class="row" ng-repeat="imageMetadata in allImagesMetadata">
                        <div class="col-md-2">No image available</div>
                        <div class="col-md-2">
                            <a href="/edit/get/image/{{imageMetadata._id}}">{{imageMetadata._id}}</a> 
                        </div>
                        <div class="col-md-1">{{imageMetadata.width}}</div>
                        <div class="col-md-1">{{imageMetadata.height}}</div>
                        <div class="col-md-1">{{imageMetadata.size}}</div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-xs btn-danger"
                                ng-click="deleteImage(imageMetadata._id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>

        <tab heading="Tags">
            <div ng-controller="TagsCtrl">
                <h3>Add tag</h3>
                <div class="row">
                    <div class="col-md-2"><span>Tag name:</span></div>
                    <div class="col-md-2"><span>Use:</span></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><input ng-model="tags.newTag._id"></input></div>
                    <div class="col-md-2">
                        <span ng-model="tags.newTag.use">{{tags.newTag.use}}</span>
                        <button type="button" class="btn btn-warning btn-sm"
                            ng-click="tags.newTag.use = !tags.newTag.use">Flip</button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-sm btn-success"
                            ng-click="store(tags.newTag)">Store</button>
                    </div>
                </div>
                <hr/>

                <h3>Review</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">Name</div>
                        <div class="col-md-1">Use</div>
                    </div>
                    <div class="row" ng-repeat="tag in tags.allTags">
                        <div class="col-md-2">{{tag._id}}</div>
                        <div class="col-md-2">
                            <span ng-model="tag.use">{{tag.use}}</span>
                            <button type="button" class="btn btn-warning btn-sm"
                                ng-click="tag.use = !tag.use">Flip</button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-sm btn-success"
                                ng-click="store(tag)">Store</button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>


    <script src="/static/js/lib/angular-file-upload/angular-file-upload-shim.min.js"></script>
    <script src="/static/js/lib/angular-1.2.21/angular.js"></script>
    <script src="/static/js/lib/angular-1.2.21/angular-route.js"></script>
    <script src="/static/js/lib/angular-1.2.21/angular-resource.js"></script>
    <script src="/static/js/lib/angular-file-upload/angular-file-upload.min.js"></script>

    <script src="/static/js/lib/ui-bootstrap/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="/static/js/lib/angular-multiselect/multiselect.js"></script>
    <script src="/static/js/lib/ui-select/select.min.js"></script>
    <script src="/static/js/lib/angular-elastic/elastic.js"></script>

    <script src="/static/js/edit-app/editServices.js"></script>
    <script src="/static/js/edit-app/editControllers.js"></script>
    <script src="/static/js/edit-app/editFilters.js"></script>
    <script src="/static/js/edit-app/editApp.js"></script>
</body>

</html>


