<!doctype html>
<html lang="en" ng-app="dedeEditApp">

<head>
    <meta charset="utf-8">
    <title>Dede Edit</title>

    <link rel="stylesheet" href="/static/css/bootstrap-3.2.0-dist/bootstrap.css">
</head>

<!-- When everything is functional, cut this up into more html files. -->
<body>
    <div class="container"
        ng-controller="PageOrEntryCtrl">

        <div class="row">
            <div class="col-md-4">
                <h1>Dede edit</h1>
            </div> 
        </div> 

        <div class="row">
            <div class="col-md-2">
                <p>Now editing: </p>
            </div>
            <div class="col-md-2">
                <div class="btn-group">
                    <label class="btn btn-primary"
                        ng-model="pageOrEntry"
                        btn-radio="'page'">page</label>
                    <label class="btn btn-primary"
                        ng-model="pageOrEntry"
                        btn-radio="'entry'">entry</label>
                </div>
            </div>
            <div class="col-md-1">
                <p ng-show="pageOrEntry=='entry'">on</p>
            </div>
            <div class="col-md-2">
                <div class="btn-group" dropdown is-open="status.isopen"
                    ng-controller="PageNamesDropdownCtrl">
                    <button type="button" class="btn btn-primary dropdown-toggle">
                        {{selectedPageName}}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="pageName in pageNames">
                            <a ng-click="setPageName(pageName)" href="#">{{pageName}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Editing a page. -->
        <div ng-show="pageOrEntry=='page'"
            ng-controller="PageCtrl">
            <!--
            <button type="button" class="btn btn-default btn-sm"
                ng-click="startNewPage()">Start new page</button>
            <button type="button" class="btn btn-default btn-sm"
                ng-click="saveNewPage()">Save</button>

            <button type="button" class="btn btn-default btn-sm"
                ng-click="startNewEntry()">Start new entry</button>
            <button type="button" class="btn btn-default btn-sm"
                ng-click="saveNewEntry()">Save</button>

            <button type="button" class="btn btn-default btn-sm"
                ng-click="addNewTag()">Add new tag</button>
            -->
            <div class="row">
                <div class="col-md-2">
                    <p>Page name:</p>
                </div>
                <div class="col-md-2">
                    <p>{{page.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>Is shown:</p>
                </div>
                <div class="col-md-2">
                    <p>{{page.isShown}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>Creation date:</p>
                </div>
                <div class="col-md-2">
                    <p>{{page.creationDate}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>Modification date:</p>
                </div>
                <div class="col-md-2">
                    <p>{{page.modificationDate}}</p>
                </div>
            </div>
        </div>

        <!-- Editing an entry within a page. -->
        <div ng-show="pageOrEntry=='entry'"
            ng-controller="EntryCtrl">
            <div class="row">
                <div class="col-md-2">
                    <p>Entry:</p>
                </div>
                <div class="col-md-2">
                    <p>{{entry.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>Entry name:</p>
                </div>
                <div class="col-md-2">
                    <p>{{entry.name}} (edit name textbox)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>Tags:</p>
                </div>
                <div class="col-md-2">
                    <div class="btn-group" dropdown is-open="status.isopen"
                            ng-controller="TagsCtrl">
                        <button type="button" class="btn btn-primary dropdown-toggle">
                            {{selectedTag}}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="tag in tags">
                                <a ng-click="setTag(tag)" href="#">{{tag}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>Is shown:</p>
                </div>
                <div class="col-md-2">
                    <p>{{entry.isShown}} (button group)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>Creation date:</p>
                </div>
                <div class="col-md-2">
                    <p>{{entry.creationDate}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p>Modification date:</p>
                </div>
                <div class="col-md-2">
                    <p>{{entry.modificationDate}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Elements:</p>
                </div>
            </div>
            <!-- Make this show up. -->
            <div ng-repeat="element in entry.elements">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <div class="btn-group" dropdown is-open="status.isopen"
                            ng-controller="ElementTypesDropdownCtrl">
                            <button type="button" class="btn btn-primary dropdown-toggle">
                                {{selectedElementType}}<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="elementType in elementTypes">
                                    <a ng-click="set(elementType)" href="#">{{elementType}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Should always auto-expand by adding new rows. -->
                    <div class="col-md-2">
                        <p>{{element.data}}</p>
                    </div>
                    <div class="col-md-1" ng-show="type=='title'">
                        <p>{{element.level}}</p>
                    </div>
                    <div class="col-md-1">
                        <p>{{element.label}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div> 

    <script src="/static/js/lib/angular-1.2.21/angular.js"></script>
    <script src="/static/js/lib/angular-1.2.21/angular-route.js"></script>
    <script src="/static/js/lib/angular-1.2.21/angular-resource.js"></script>

    <script src="/static/js/lib/ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

    <script src="/static/js/edit-app/editServices.js"></script>
    <script src="/static/js/edit-app/editControllers.js"></script>
    <script src="/static/js/edit-app/editFilters.js"></script>
    <script src="/static/js/edit-app/editApp.js"></script>
</body>

</html>


