#content-all {
    position: relative;
    margin: 0 auto;
    border: 2px dashed #DDD;
    width: 940px;
}

#content-header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 140px;
    width: 100%;
    border: 2px dashed red;
    display: block;
}

#page-menu {
    float: right;
}
#page-menu li {
    display: inline;
}

#content-lower {
    margin-top: 140px;
    display: block;
}

.leftie {
    float: left;
    clear: both;
}

.rightie {
    float: right;
    clear: both;
}

a.hover-image {
    background: black;
    display: inline-block;
}

a.hover-image img {
    display: block;
}

a.hover-image:hover img {
    opacity: 0;
}

.hover-title {
    position: absolute;
    top: 5px;
    left: 25px; /* Hacking away awayBootstrap's 15px padding. */
    color: white;
    visibility: hidden;
}

a.hover-image:hover .hover-title {
    visibility: visible;
}

