#content-all {
    position: relative;
    margin: 0 auto;
    border: 2px dashed #DDD;
    width: 940px;
}

#content-header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 140px;
    width: 100%;
    border: 2px dashed red;
    display: block;
}

#header-logo {
    margin-top: 45px;
}

#page-menu {
    margin-top: 60px;
    float: right;
}
#page-menu li {
    width: 160px;
    text-align: right;
    display: inline-block;
}

#content-lower {
    margin-top: 140px;
    display: block;
}

.leftie {
    float: left;
    margin-left: 80px;
    clear: both;
}

.rightie {
    float: right;
    margin-right: 80px;
    clear: both;
}

a.hover-image {
    position: relative; /* Just to enable absolute position of titles. */
    background: black;
    display: inline-block;
}

a.hover-image img {
    display: block;
}

a.hover-image:hover img {
    opacity: 0;
}

.hover-title {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    visibility: hidden;
}

a.hover-image:hover .hover-title {
    visibility: visible;
}

