/* Still contains some basic CSS developed for Bau Bau. */

@font-face {
    font-family: 'Atlas Grotesk Web';
    src: url('/static/fonts/AtlasGrotesk-Medium-Web.eot');
    src: url('/static/fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/AtlasGrotesk-Medium-Web.woff') format('woff'),
    url('/static/fonts/AtlasGrotesk-Medium-Web.ttf') format('truetype'),
    url('/static/fonts/AtlasGrotesk-Medium-Web.svg#AtlasGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

.unused {
    font-size: 1em; /* 25px */
    line-height: 1.5200em; /* 38px */
    margin: 0 0 1.5200em 0; 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
body {
    font-family: 'Atlas Grotesk Web';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    overflow-y:scroll; /* Forcing scrollbar to remove left-right jumping effect of whole container. */
}
p {
    color: black;
}
.normal-text {
    font-size: 25px;
    line-height: 38px;
    margin-top: 19px;
    margin-bottom: 19px;
    letter-spacing: 0.02em;
}
.centered-subcontent {
    width: 780px;
    margin-left: 80px;
    margin-right: 80px;
}
.navigation-text {
    font-size: 16px;
    line-height: 19px;
}
 
.title-1 {
    margin-top: 3em;
}
.title-2 {
    margin-top: 57px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.big-text {
}
.top-padding {
    padding-top: 80px;
}

#content-all {
    position: relative;
    margin: 0 auto;
    width: 940px;
}

#content-header-wrapper {
    position: absolute;
}
#content-header {
    position: fixed;
    margin-left: -470px; /* Half of the global container's width. */
    width: 940px;
    top: 0px;
    left: 50%;
    height: 140px;
    display: block;
    z-index: 100;
}

#header-logo {
    margin-top: 45px;
}

#page-menu {
    margin-top: 60px;
    float: right;
}
#page-menu li {
    width: 160px;
    text-align: right;
    display: inline-block;
}

/* hacky */
a {
    color: black !important;
    text-decoration: none !important;
    outline: none !important;
}
a.page-menu-item-active {
    color: black !important;
    text-decoration: none !important;
    border-bottom: 3px solid black !important;
}
a.shifted {
    margin-right: 0.9em;
}

#content-lower {
    margin-top: 140px;
    display: block;
    clear: both;
}
.leftie {
    float: left;
    margin-left: 80px;
    clear: both;
}
.rightie {
    float: right;
    margin-right: 80px;
    clear: both;
}

a.hover-image {
    position: relative; /* Just to enable absolute position of titles. */
    background: black;
    display: inline-block;
}
a.hover-image img {
    display: block;
}
a.hover-image:hover img {
    opacity: 0;
}
.hover-title {
    position: absolute;
    top: 0px;
    left: 19px;
    color: white;
    visibility: hidden;
    width: 150px;
}
a.hover-image:hover .hover-title {
    visibility: visible;
    width: 150px;
}

.underlined-link {
    border-bottom: 3px solid black !important;
}
.pdf-link {
    font-size: 16px;
}

.image-slider {
    height: 640px;
}
.slider-image-holder {
    width: 620px;
    height: 640px;
    display: inline-block;
    position: relative;
}
.slider-image {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

.arrow-box {
    width: 80px;
    height: 640px;
    display: inline-block;
}
.arrow {
    margin-top: 300px;
    padding: 20px;
}
.floater-left {
    float: left;
}
.floater-right {
    float: right;
}
.shifter-left {
    margin-left: -20px;
}
.shifter-right {
    margin-right: -20px;
}

.bottom-buffer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    clear: both;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
